@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0;
    top: 0;
    background: #3e3c3c;
  }

  .logo {
    flex-direction: row;
    padding: 10px 12px;
    position: absolute;
    width: 156px;
    height: 40px;
    left: 154px;
    top: 10px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
  }

  .imagcss {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: absolute;
    width: 255px;
    height: 40px;
    right: 240px;
    top: calc(50% - 40px / 2);
  }

  .contactlink {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 83px;
    height: 40px;
    left: 172px;
    top: 0;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0 8px;
  }

  .aboutlink {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 69px;
    height: 40px;
    left: 95px;
    top: 0;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 8px;
  }

  .portfolink {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 87px;
    height: 40px;
    left: 0;
    top: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 8px;
  }

  .imagcss > a {
    position: static;
    width: 59px;
    height: 20px;
    left: 12px;
    top: 10px;
    text-decoration: none;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    flex: none;
    flex-grow: 0;
    margin: 0 10px;
  }

  .mail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 6px;
    height: 2px;
    right: 142px;
    top: calc(50% - 19px / 2);
    background-image: url(images/mailbox.png);
  }

  .headline {
    position: absolute;
    width: 1440px;
    height: 720px;
    left: 0;
    top: 71px;
    margin: auto;
    background: #1c1a19;
    display: flex;
    background-image: url(images/Illustration-header.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-y: top;
    background-position-x: right;
  }

  .social {
    position: absolute;
    width: 20px;
    height: 98.96px;
    left: 36px;
    top: 249px;
    list-style-type: none;
  }

  .soci1 {
    margin-top: 24px;
  }

  .primary {
    position: static;
    width: 566px;
    height: 160px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 192px;
    margin-left: 176px;
  }

  .support {
    position: static;
    width: 566px;
    height: 24px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 407px;
    margin-left: -552px;
  }

  .description {
    position: static;
    width: 566px;
    height: 123px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 454px;
    margin-left: -568px;
  }

  .recent-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 24px;
    position: absolute;
    width: 1204px;
    height: 1805px;
    left: 104px;
    top: 721px;
  }

  .frame44 {
    position: static;
    width: 1156px;
    height: 1379px;
    left: 24px;
    top: 296px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 114px 0;
  }

  .supporttext12,
  .titlpost,
  .tag12,
  .buton5,
  .supporttext11 {
    visibility: hidden;
  }

  .cardwork6 {
    position: absolute;
    width: 369px;
    height: 435px;
    left: 0;
    top: 0;
    border: 2px solid #091e42;
    filter: drop-shadow(0 48px 48px rgba(37, 47, 137, 0.08));
  }

  .backimage {
    position: absolute;
    width: 369px;
    height: 376px;
    left: 0;
    top: 0;
    background-image: url(images/MaskGroup.png);
  }

  .action3 {
    position: absolute;
    width: 369px;
    height: 58px;
    left: 0;
    top: 376px;
    background: #f55800;
  }

  .buton4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    position: absolute;
    width: 129px;
    height: 48px;
    left: calc(50% - 124px / 2);
    top: calc(50% - 48px / 2);
    background: #f55800;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-style: none;
  }

  .cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 134.5px;
    top: 178px;
    background-image: url(images/Hand.png) !important;
  }

  .cardwork5 {
    position: absolute;
    width: 369px;
    height: 435px;
    left: 393px;
    top: 0;
    background-image: url(images/MaskGroup1.png);
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 20px;
  }

  .tag {
    order: 2;
    color: #fff;
    display: flex;
    margin-bottom: 10px;
    margin-top: 1px;
    margin-left: -38px;
    font-family: "inter", sans-serif;
  }

  .tag2 {
    order: 2;
    color: #fff;
    display: flex;
    margin-bottom: 10px;
    margin-top: 1px;
    margin-left: 1px;
    font-family: "inter", sans-serif;
  }

  .ruby {
    order: 2;
    margin: 1px 2px 10px 6px;
    background: rgba(255, 255, 255, 0.24);
    width: 61px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bootstrap {
    order: 1;
    margin: 1px 4px 10px 6px;
    background: rgba(255, 255, 255, 0.24);
    width: 95px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .html {
    margin: 1px 4px 10px 19px;
    background: rgba(255, 255, 255, 0.24);
    width: 56px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titlpost2 {
    position: static;
    width: 337px;
    height: 37px;
    left: 16px;
    top: 8px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 63px;
  }

  .supporttext {
    position: static;
    width: 337px;
    height: 72px;
    left: 16px;
    top: 113px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0;
  }

  .cardwork4 {
    position: absolute;
    width: 369px;
    height: 435px;
    left: 786px;
    top: 0;
    background-image: url(images/MaskGroup2.png);
  }

  .cardwork3 {
    position: absolute;
    width: 369px;
    height: 435px;
    left: -0.5px;
    top: 0;
    background-image: url(images/MaskGroup3.png);
  }

  .cardwork2 {
    position: absolute;
    width: 369px;
    height: 435px;
    left: 392.5px;
    top: 0;
    background-image: url(images/MaskGroup1.png);
  }

  .cardwork1 {
    position: absolute;
    width: 369px;
    height: 435px;
    left: 785.5px;
    top: 0;
    background-image: url(images/MaskGroup2.png);
  }

  .frame43 {
    display: flex;
    display: grid;
    grid-column: auto;
  }

  .cardpart1 {
    position: absolute;
    width: 1155px;
    height: 435px;
    left: 0;
    bottom: 0;
    top: 1313px;
  }

  .cardpart2 {
    position: absolute;
    width: 1155px;
    height: 448px;
    left: -0.5px;
    top: 837px;
    bottom: 459px;
  }

  .featuredimg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    position: absolute;
    width: 1156px;
    height: 448px;
    left: -1px;
    top: 366px;
  }

  .title-work {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: static;
    width: 1133px;
    height: 52px;
    left: 35.5px;
    top: 130px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 114px;
    margin-top: 65px;
  }

  .h2r {
    position: static;
    width: 62%;
    height: 0;
    left: 23%;
    top: 26px;
    border: 1px solid #212121;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 24px;
  }

  .titl {
    position: static;
    width: 315px;
    height: 52px;
    left: 0;
    top: 0;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 24px;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: static;
    width: 448px;
    height: 348px;
    order: 1;
    left: 708px;
    top: 0;
  }

  .action1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    position: static;
    width: 124px;
    height: 27px;
    left: 0;
    top: 300px;
    background: #f55800;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 24px 0;
  }

  .buton2 {
    position: static;
    background: #f55800;
    border-style: none;
    width: 124px;
    height: 24px;
    left: 12px;
    top: 12px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .tag1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    position: static;
    width: 297px;
    height: 40px;
    left: 0;
    top: 236px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 41px;
    list-style: none;
  }

  .ruby1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 61px;
    height: 40px;
    left: 236px;
    top: 0;
    background: #fff;
    border: 1px solid #8993a4;
    box-sizing: border-box;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0 12px;
  }

  .bootstrap1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 95px;
    height: 40px;
    left: 129px;
    top: 0;
    background: #fff;
    border: 1px solid #8993a4;
    box-sizing: border-box;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .html1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 56px;
    height: 40px;
    left: 61px;
    top: 0;
    background: #fff;
    border: 1px solid #8993a4;
    box-sizing: border-box;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 12px;
  }

  .css1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: static;
    width: 49px;
    height: 40px;
    left: 0;
    top: 0;
    background: #fff;
    border: 1px solid #8993a4;
    box-sizing: border-box;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .supporttext13 {
    position: static;
    width: 417px;
    height: 168px;
    left: 0;
    top: 72px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: -33px;
  }

  .titlpost11 {
    position: static;
    width: 448px;
    height: 48px;
    left: 0;
    top: 0;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: -71px;
  }

  .imgplace {
    position: static;
    width: 684px;
    height: 448px;
    left: 0;
    top: 0;
    background: url(images/maskgroup4.png);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 24px;
  }

  .aboutdiv {
    position: absolute;
    width: 1440px;
    height: 1195px;
    left: 0;
    top: 2589px;
    background: #262626;
    display: flex;
    flex-direction: column;
    background-image: url(images/Frame.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 12%;
    background-size: 45%;
  }

  .prmtxt {
    position: static;
    width: 566px;
    height: 78px;
    left: 0;
    top: 130px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0;
    padding-left: 134px;
    padding-top: 104px;
  }

  .descrpt {
    position: static;
    width: 566px;
    height: 148px;
    left: 0;
    top: 232px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 135px;
  }

  .action2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    position: static;
    width: 161px;
    height: 48px;
    left: 0;
    top: 404px;
    background: #f55800;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 7px;
    margin-left: 135px;
  }

  .buton3 {
    position: static;
    height: 24px;
    left: 12px;
    top: 12px;
    background: #f55800;
    border-style: none;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
  }

  .divider {
    position: absolute;
    height: 0;
    left: 134px;
    right: 158px;
    top: calc(50% - 0px / 2 + 0.5px);
    order: 3;
    border: 1px solid #fff;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 130px 0;
    order: 4;
    position: absolute;
    width: 1157.46px;
    height: 596px;
    left: 141px;
    top: 494px;
  }

  ul {
    list-style: none;
  }

  .rect3 {
    display: flex;
    position: static;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    background: #ff6b00;
    transform: rotate(-45deg);
    flex: none;
    margin-left: -47px;
    margin-top: -3px;
  }

  .nametit3 {
    position: static;
    flex-direction: row;
    width: 115px;
    height: 24px;
    left: 42px;
    top: 8px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: -20px;
    margin-left: -10px;
  }

  .nameskill3 {
    order: 1;
    margin-left: -48px;
  }

  .codekit {
    display: flex;
    flex-direction: row;
    padding-top: 19px;
    position: static;
    width: 114px;
    height: 48px;
    left: 12px;
    top: 224px;
    flex: none;
    margin-top: 7px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  .github12 {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    padding-bottom: 7px;
    position: static;
    width: 108px;
    height: 48px;
    left: 12px;
    top: 224px;
    flex: none;
    order: 1;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  .codepen {
    display: flex;
    flex-direction: row;
    position: static;
    width: 114px;
    height: 48px;
    left: 12px;
    top: 224px;
    flex: none;
    order: 2;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  .gitlab {
    display: flex;
    flex-direction: row;
    position: static;
    width: 114px;
    height: 48px;
    left: 12px;
    top: 224px;
    flex: none;
    order: 3;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  .rect2 {
    display: flex;
    position: static;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    background: #ff6b00;
    flex: none;
    margin-left: 288px;
    margin-top: -249px;
    order: 1;
  }

  .nametit2 {
    position: static;
    flex-direction: row;
    width: 115px;
    height: 24px;
    left: 42px;
    top: 8px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    order: 1;
    margin-top: -19px;
    margin-left: 321px;
  }

  .nameskill2 {
    order: 1;
    margin-left: 293px;
  }

  .github13 {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    padding-bottom: 7px;
    position: static;
    width: 144px;
    height: 48px;
    left: 12px;
    top: 224px;
    flex: none;
    order: 1;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  .terminal {
    display: flex;
    flex-direction: row;
    padding-bottom: 12px;
    position: static;
    width: 114px;
    height: 48px;
    left: 12px;
    top: 224px;
    flex: none;
    order: 4;
    margin-bottom: 22px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  .rect1 {
    display: flex;
    position: static;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 11px;
    border-radius: 150px;
    background: #ff6b00;
    flex: none;
    margin-left: 637px;
    margin-top: -338px;
    order: 2;
  }

  .nametit {
    position: static;
    flex-direction: row;
    width: 115px;
    height: 24px;
    left: 42px;
    top: 8px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    order: 2;
    margin-top: -19px;
    margin-left: 668px;
  }

  .nameskill {
    order: 1;
    margin-left: 639px;
  }

  .codekit1 {
    display: flex;
    flex-direction: row;
    padding-top: 19px;
    position: static;
    width: 114px;
    height: 48px;
    left: 12px;
    top: 224px;
    flex: none;
    margin-top: 7px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  .github14 {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    padding-bottom: 7px;
    position: static;
    width: 108px;
    height: 48px;
    left: 12px;
    top: 224px;
    flex: none;
    order: 1;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  .codepen1 {
    display: flex;
    flex-direction: row;
    position: static;
    width: 114px;
    height: 48px;
    left: 12px;
    top: 224px;
    flex: none;
    order: 2;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
    color: #fff;
  }

  .gitlab1 {
    display: flex;
    flex-direction: row;
    position: static;
    width: 114px;
    height: 48px;
    left: 12px;
    top: 224px;
    flex: none;
    order: 3;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
    color: #fff;
  }

  .terminal1 {
    display: flex;
    flex-direction: row;
    padding-bottom: 12px;
    position: static;
    width: 114px;
    height: 48px;
    left: 12px;
    top: 224px;
    flex: none;
    order: 4;
    margin-bottom: 22px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    text-align: center;
    color: #fff;
  }

  .contactme {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 120px;
    position: absolute;
    width: 1163px;
    height: 590px;
    left: 135px;
    top: 3875px;
  }

  .formcon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    order: 1;
    position: static;
    width: 684px;
    height: 330px;
    left: 479px;
    top: 130px;
  }

  .fullname,
  .emailaddress {
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 85.45%;
    font-family: "inter", sans-serif;
    font-style: normal;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0;
    height: 48px;
    width: 684px;
    border-left: none;
    border-top: none;
    border-right: none;
  }

  .entertext {
    position: static;
    left: 0%;
    right: 0%;
    top: 43.64%;
    bottom: 21.82%;
    font-family: "inter", sans-serif;
    font-style: normal;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px 0;
    height: 114px;
    width: 684px;
    background: #fbf8f7;
    padding: 8px;
  }

  .getintouch {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    position: static;
    width: 131px;
    height: 48px;
    left: 98px;
    background: #ff6b00;
    border: none;
    flex: none;
    order: 3;
    flex-grow: 0;
    top: 12px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .contactext {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: static;
    width: 455px;
    height: 256px;
    left: 0;
    top: 0;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0;
  }

  .footer {
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0;
    top: 677px;
    order: 2;
  }

  .socialfooter {
    display: flex;
    position: static;
    width: 200px;
    height: 40px;
    list-style-type: none;
    align-items: center;
    flex: none;
    margin-left: 425px;
  }

  .soci1footer {
    margin-right: 20px;
  }

  .footerdivider {
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
    width: 1440px;
    margin-left: -133px;
    background: #dfe1e6;
  }
}
