@media only screen and (max-width: 375px) {
    .headline {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 120px 24px;
position: absolute;
width: 375px;
height: 500px;
left: 0px;
top: 71px;
background: #1C1A19; }
    .header{
        width: 375px;
        height: 72px;
        left: 0px;
        top: 0px;    
        background: #3C3A39;
        display: flex;
        position: absolute;
        bottom: 0px; }
        .imagcss{
            height: 22px;
            margin-left: 200px; }
    .toolbar{
        margin-top: 25px;
        flex-grow: 1; }
    .logo{
    position: static;
    width: 77px;
    height: 24px;
    left: 12px;
    top: 10px;
    margin-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF; }
    .primary{     
position: static;
width: 327px;
height: 124px;
left: 24px;
top: 120px;
font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
letter-spacing: 0.37px;
color: #FF6B00;
flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px; }
    .support{
position: static;
width: 327px;
height: 27px;
left: 24px;
top: 256px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;
color: #FFF5E1;
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px; }
    .description{
        position: static;
        width: 327px;
        height: 123px;
        left: 24px;
        top: 295px;        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 12px 0px; }
    .illustrate{
position: absolute;
left: 53.90%;
right: -50.14%;
top: 0%;
bottom: 0%;
margin-top: 72%; }
  .social{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
position: static;
width: 200px;
height: 40px;
left: 24px;
top: 430px;
flex: none;
order: 3;
flex-grow: 0;
margin: 12px 0px;}    
}